@font-face {
  font-family: 'icomoon';
  src: local('icomoon'), url(../static/fonts/icomoon.ttf) format('truetype');
}

html{
  scroll-behavior:smooth;
  scroll-padding-top: 4rem;
}

  .highlight-line {
    background-color: #1b314f;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.3em solid #f99;
  }