@font-face {
  font-family: 'icomoon';
  src: local('icomoon'), url(../static/fonts/icomoon.ttf) format('truetype');
}

pre[class*="language-"] {
    position: relative;
    -webkit-overflow-scrolling: touch;
  }
  pre[class*="language-"]::before {
    background: black;
    border-radius: 0 0.25rem 0 0.25rem;
    color: white;
    font-size: 12px;
    letter-spacing: 0.025rem;
    padding: 0.1rem 0.5rem;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    top: 0;
  }
  
  pre[class~="language-javascript"]::before {
    content: "js";
    background: #f7df1e;
    color: black;
  }
  
  pre[class~="language-js"]::before {
    content: "js";
    background: #f7df1e;
    color: black;
  }
  
  pre[class~="language-html"]::before {
    content: "html";
    background: #005a9c;
    color: white;
  }
  
  pre[class~="language-css"]::before {
    content: "css";
    background: #ff9800;
    color: white;
  }

  pre[class~="language-json"]::before {
    content: "json";
    background: #09a859;
    color: white;
  }

  pre[class~="language-bash"]::before {
    content: "bash";
    background: #4f11e0;
    color: white;
  }

  pre[class~="language-text"]::before {
    content: "text";
    background: #ececec;
    color: #1d1d1d;
  }

  pre[class~="language-md"]::before {
    content: "md";
    background: #0991cf;
    color: #ffffff;
  }

  pre[class~="language-mdx"]::before {
    content: "mdx";
    background: #ffd900;
    color: #000000;
  }

  pre[class~="language-mcfunction"]::before {
    content: "mcfunction";
    background: #04f38f;
    color: white;
  }

  pre[class~="language-molang"]::before {
    content: "molang";
    background: #b00029;
    color: white;
  }

  .highlight-line {
    background-color: #1b314f;
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.3em solid #f99;
  }